/*
 * nedCAPTCHA 2 EM 
 * Dr. Günther Rezniczek, Marien Hospital Herne, Klinikum der Ruhr-Universität Bochum
 */
.nedCAPTCHA-OD-link  {
	text-decoration: none;
	outline: none;
}
.nedCAPTCHA-OD-link:link {
	color: inherit;
}
.nedCAPTCHA-OD-link:hover, .nedCAPTCHA-OD-link:focus { 
	outline: none;
	color: purple;
	text-decoration: solid underline blueviolet;
}
.nedCAPTCHA-OD-accent {
	color: purple;
}

.nedCAPTCHA-setup-container {
	display: flex;
	flex-basis: 1;
	width: 100%;
	height: 560px;
	padding: 5px;
}
.nedCAPTCHA-setup-main {
	width: 50%;
}
.nedCAPTCHA-setup-sidebar {
	max-width: 50%;
}
.nedCAPTCHA-setup-title {
	font-weight: bold;
}
.nedCAPTCHA-setup-group {
	margin: .25em .5em 1em .5em;
}
.nedCAPTCHA-setup-group label {
	margin: unset;
}
.nedCAPTCHA-setup-group .form-check {
	min-height: unset;
}
.nedCAPTCHA-setup-section {
	margin: 0 1rem .25rem 1rem;
	padding-left: .25rem;
}
.nedCAPTCHA-setup-setting { margin-top: .25rem; }
.nedCAPTCHA-setup-description {
	font-size: 90%; 
	font-style: italic;
	margin-bottom: 5px;
}
.nedCAPTCHA-setup-setting select { font-size: 85%; max-width: fit-content; }
.nedCAPTCHA-setup-range {
	display: flex;
	gap: 1em;
	align-items: center;
	margin-top: .25em;
}
.nedCAPTCHA-setup-setting .form-control-color {
	width: 108px;
	font-size: 90%;
}
.nedCAPTCHA-preview {
	outline: 1px dotted black;
	outline-offset: 2px;
	margin: 3px;
}
.nedCAPTCHA-setup-math, .nedCAPTCHA-setup-image, .nedCAPTCHA-setup-custom {
	display: none;
}
.nedCAPTCHA-setup-container:has(input#type-math:checked) .nedCAPTCHA-setup-math,
.nedCAPTCHA-setup-container:has(input#type-image:checked) .nedCAPTCHA-setup-image,
.nedCAPTCHA-setup-container:has(input#type-custom:checked) .nedCAPTCHA-setup-custom {
	display: block;
}